dist
node_modules
.output
.nuxt
.storybook
storybook-static
.github
coverage
*.log
nuxt.d.ts
.output
.DS_Store
.vscode
.md
package.json
package-lock.json
babel.config.js
graphql
types.ts
generated
components.d.ts
icons.d.ts
auto.d.ts
src-tauri
auto-imports.d.ts
components.d.ts
dist