{
    "extends": [
        "@antfu"
    ],
    "rules": {
        "@typescript-eslint/consistent-type-imports": "off",
        "vue/no-deprecated-slot-attribute": "off",
        "vue/no-reserved-component-names": "off"
    }
}